SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8080/auth/realms/unihub/protocol/openid-connect/certs
BACKEND_SERVICE_URL=http://localhost:4000
SERVER_PORT=8081
TZ=Asia/Ho_Chi_Minh
JAVA_TOOL_OPTIONS=-Duser.timezone=Asia/Ho_Chi_Minh
