KEYCLOAK_SMTP_FROM=sender@example.com
KEYCLOAK_SMTP_FROM_DISPLAY_NAME=Example Application
KEYCLOAK_SMTP_REPLY_TO=reply-to@example.com
KEYCLOAK_SMTP_USER=smtp-user@example.com
KEYCLOAK_SMTP_PASSWORD=replace-with-smtp-password
TZ=Asia/Ho_Chi_Minh
JAVA_TOOL_OPTIONS=-Duser.timezone=Asia/Ho_Chi_Minh
