SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
SPRING_DATASOURCE_USERNAME=replace-with-database-user
SPRING_DATASOURCE_PASSWORD=replace-with-database-password
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SERVER_PORT=4000
TZ=Asia/Ho_Chi_Minh
JAVA_TOOL_OPTIONS=-Duser.timezone=Asia/Ho_Chi_Minh
