SPRING_DATASOURCE_URL=jdbc:postgresql://app-db:5432/postgres
SPRING_DATASOURCE_USERNAME=replace-with-database-user
SPRING_DATASOURCE_PASSWORD=replace-with-database-password
SPRING_DATA_REDIS_HOST=app-redis
SPRING_DATA_REDIS_PORT=6379
SERVER_PORT=4000
